<div class="card weather-forecast">
    <div class="close" (click)="close()"><i class="material-icons">close</i></div>
    <div class="card-last-updated"></div>
    <div class="location">{{forecastData.city.name}}, {{forecastData.city.country}}</div>
    <div class="date">{{forecastData.forecast[0].dt_txt | date : 'EEEE, d MMMM'}}</div>
    <div class="description">{{forecastData.forecast[0].weather[0].description}}</div>
    <div class="current">
        <div class="visual">
            <div class="icon"><img src="../../../assets/images/{{imgURL}}.png" /></div>
            <div class="temperature">
                <span class="value">{{forecastData.forecast[0].main.temp | number:'1.0-0'}}</span><span class="scale">°C</span>
            </div>
        </div>
        <div class="description">
            <div>humedad: {{forecastData.forecast[0].main.humidity}}%</div>
            <div>
                viento:
                <span class="value">{{forecastData.forecast[0].wind.speed}}</span>
                <span class="scale">m/s</span>
                <span class="direction"> {{forecastData.forecast[0].wind.deg}}</span>°
            </div>
            <div>max: {{forecastData.forecast[0].main.temp_max | number:'1.0-0'}}°C</div>
            <div>min: {{forecastData.forecast[0].main.temp_min | number:'1.0-0'}}°C</div>
        </div>
    </div>
    <div class="future">
            <PWA-weather-day-weather class="oneday" *ngFor="let day of forecastData.forecast" [weather]="day">

            </PWA-weather-day-weather>
    </div>
</div>